# Ignore Terraform state files
*.tfstate
*.tfstate.*
.terraform/

# Ignore operating system files
.DS_Store

# Ignore other files
local-dns-bh-summary.txt
collect_code.sh
local-dns-bh.drawio
.envrc
local-dns-bh-summary(old).txt